<h2><small>Live Chat</small></h2>
<div class="input-group">
    <div class="col-md-12">
        <input placeholder="Message" type="text" id="message" />
    </div>
    
    <span class="input-group-btn">
        <input type="button" id="send" value="Send" class="btn" />
    </span>
</div>
<ul id="liveChat"></ul>
