<p id="dice" style="height: 100px; width: 100px; margin: 50px auto; border: 1px solid gray; border-radius: 10px; font-size:80px; text-align: center;">

</p>
<div class="text-center">
    <button id="button_dice" class="btn">Roll Dice</button>
</div>
