@using Wubbalubbadubzork.Models
@model Game
<dialog id="joinGameDialog">
    <h4 class="modal-dialog">Unirse a partida</h4>
    <div class="col-md-12 text-center">
        @Html.TextBoxFor(m => m.Id, new { @placeholder = "ID", @id = "gameId", @class = "col-md-2 control-label" })
    </div>
    <div class="col-md-12 text-right">
        <a id="cancel" tabindex="1" class="btn-primary btn-lg">Cancelar</a>
        <a id="join" class="btn-success btn-lg" data-disable-with="Unirse">
            Unirse
        </a>
    </div>
</dialog>
