<p>Opciones</p>
<div class="row">
    <div class="col-md-3">
        <button id="option1" type="button" class="btn" disabled>
            Option1
        </button>
    </div>
    <div class="col-md-3">
        <button id="option2" type="button" class="btn" disabled>
            Option2
        </button>
    </div>
    <div class="col-md-3">
        <button id="option3" type="button" class="btn" disabled>
            Option3
        </button>
    </div>
    <div class="col-md-3">
        <button id="option4" type="button" class="btn" disabled>
            Option4
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button id="option5" type="button" class="btn" disabled>
            Option5
        </button>
    </div>
    <div class="col-md-3">
        <button id="option6" type="button" class="btn" disabled>
            Option6
        </button>
    </div>
    <div class="col-md-3">
        <button id="option7" type="button" class="btn" disabled>
            Option7
        </button>
    </div>
    <div class="col-md-3">
        <button id="option8" type="button" class="btn" disabled>
            Option8
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button id="option9" type="button" class="btn" disabled>
            Option9
        </button>
    </div>
</div>
<hr />
<p>Habilidades</p>
<div class="row">
    <div class="col-md-3">
        <button id="skill1" type="button" class="btn" disabled>
            Skill1
        </button>
    </div>
    <div class="col-md-3">
        <button id="skill2" type="button" class="btn" disabled>
            Skill2
        </button>
    </div>
    <div class="col-md-3">
        <button id="skill3" type="button" class="btn" disabled>
            Skill3
        </button>
    </div>
    <div class="col-md-3">
        <button id="skill4" type="button" class="btn" disabled>
            Skill4
        </button>
    </div>
</div>